@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: rgba(17,24,26, 1);
}

body {
  font-family: 'Poppins', sans-serif;
}

.resultList {
  margin: 0 auto;
  text-align: left;
  list-style: none;
  width: 100vw;
  padding: 0 20px;
  max-width: 300px;
  font-size: 1.2rem;
}

.resultList-li:nth-child(1) {
  font-size: 1.9rem;
}
.resultList-li:nth-child(2) {
  font-size: 1.7rem;
}
.resultList-li:nth-child(3) {
  font-size: 1.5rem;
}

.resultList-li {
  margin: 0.7rem 0;
  display: flex;
  justify-content: space-between;
}

.points {
  color: rgba(0,74,157, 1)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(244,212,217, 1);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
